/* * {
  outline: 1px red dashed;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --lightGrey: #fcfcfc;
  --darkPurple: #465165;
  --darkGrey: #585858;
  --darkerGrey: #6d6d6d;
  --white: #fff;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.parrafo {
  margin-top: 30px !important;
  font-family: 'Montserrat';
  font-size: 20px !important;
  font-weight: 400;
  color: #4651659b;
  text-align: justify;
}

.titulo{
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 400;
  color: #465165;
  margin: 0;
}

.firstSection{
  position: absolute;
  justify-content: center;
  margin-top: 0px;
  margin-left: 120px;
  max-width: 600px;
}

.hero {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  justify-content: center;
  background-size: cover;
}

body {
  margin: 0;
  background-color: var(--lightGrey);
  font-family: var(--familyMontserrat );
  line-height: 1.6;
  background-color: #FFF;
  padding-top: 80px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  outline-color: var(--yellow);
}

/* Header */
.header {
  font-family: 'Montserrat';
  padding: 1rem;
  background-color: #4651659b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav-toggle {
  display: block;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
}

.hamburger {
  top: 10px;
  left: 0;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--darkPurple);
}

.hamburger::before {
  top: -10px;
  left: 0;
}

.hamburger::after {
  left: 0;
  bottom: -12px;
}

[aria-expanded="true"] .hamburger,
[aria-expanded="true"] .hamburger::before,
[aria-expanded="true"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
  transform: rotate(0deg) scale(0.2);
}

[aria-expanded="false"] .hamburger::before {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(-45deg);
}

[aria-expanded="true"] .hamburger::after {
  transform: rotate(90deg) translateX(-12px);
}

[aria-expanded="false"] .hamburger,
[aria-expanded="false"] .hamburger::before,
[aria-expanded="false"] .hamburger::after {
  transition: all 0.3s ease-in-out;
}

.nav {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: -1rem;
  width: 50vw;
  height: 420px;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
  transition-property: opacity, visibility, transform, background-color,
    box-shadow;
  background-color: #f4eeff;
  transform: translateX(-200%);
}

.logo {
  z-index: 2;
  margin-left: 20px;
  color: #FFF;
  margin: 0;
  margin-left: 70px;
}

.nav-list {
  margin-top: 150px;
}

.nav.is-open {
  width: 70vw;
  height: 420px;
  top: -80px;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  background-color: #f4eeff;
  box-shadow: 0 6px 20px rgba(96, 109, 175, 0.2);
}

.nav.is-open .nav-link {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.nav-link {
  color: #FFF;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
}

.nav-link-cta,
.nav-link:hover {
  color: var(--pink);
}

/* Grow */
.grow {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.contentGrow {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
}

.left {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  
}

.right {
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 46em) {
  .nav-toggle {
    display: none;
    pointer-events: none;
  }

  .nav-list {
    margin-top: 0;
    display: flex;
  }

  .nav {
    width: auto;
    height: auto;
    position: static;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    background-color: initial;
  }
}

/* Intro */
.intro {
  display: flex;
  margin-top: -80px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  background-image: url("/src/img/hero.jpg");
  align-items: center;
}

.intro__title {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 3.4rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1;
  color: var(--darkPurple);
}

.intro__verano {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 4.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.agenda {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.bajada{
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.intro__subtitle {
  margin: 1.2rem 0;
  font-size: 0.9rem;
  color: var(--darkGrey);
}

.button {
  display: inline-block;
  padding: 0.7em 1.2em;
  font-size: 1rem;
  background-color: var(--pink);
  color: var(--white);
  border-radius: 3px;
}

.button:hover {
  background-color: #a5285c;
}

.intro__illustration {
  max-width: 100%;
  margin: 2rem 0;
}


/* Features */
.features {
  padding: 0 1em;
  margin-top: 2.5rem;
  text-align: center;
}

.features__list li {
  padding: 1rem;
}

.features p {
  font-size: 0.9rem;
}

.footer {
  display: flex;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  background-image: url("/src/img/midea_banner.jpg");
  align-items: center;
}

@media (min-width: 32em) {
  .features__list {
    display: flex;
    justify-content: space-around;
  }

  .features__list li {
    flex-basis: 350px;
  }
}

.features__list svg {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 60em) {
  .features {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .features p {
    font-size: 1.1rem;
  }
}

.section__title {
  color: var(--darkPurple);
  font-weight: var(--bold);
  font-size: 1.85rem;
  line-height: 1.1;
}

@media (min-width: 60em) {
  .section__title {
    font-size: 2.25rem;
  }
}



.grow p {
  font-size: 0.9rem;
}

.blob {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (min-width: 60em) {
  .grow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

