/* * {
  outline: 1px red dashed;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --lightGrey: #fcfcfc;
  --darkPurple: #465165;
  --darkGrey: #585858;
  --darkerGrey: #6d6d6d;
  --white: #fff;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.parrafo {
  margin-top: 30px !important;
  font-family: 'Montserrat';
  font-size: 20px !important;
  font-weight: 400;
  color: #4651659b;
  text-align: justify;
}

.titulo { 
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 400;
  color: #465165;
  margin: 0;
}

.firstSection {
  position: absolute;
  justify-content: center;
  margin-top: 0px;
  margin-left: 120px;
  max-width: 600px;
}

.hero {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  justify-content: center;
  background-size: cover;
}

body {
  margin: 0;
  background-color: var(--lightGrey);
  font-family: var(--familyMontserrat );
  line-height: 1.6;
  background-color: #FFF;
  padding-top: 80px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  outline-color: var(--yellow);
}

/* Header */
.header {
  font-family: 'Montserrat';
  padding: 1rem;
  background-color: #4651659b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: -80px;
  left: -1rem;
  width: 50vw;
  height: 420px;
  transition: all 0.3s ease-in-out;
  transition-property: opacity, visibility, transform, background-color,
    box-shadow;
  background-color: #f4eeff;
  transform: translateX(-200%);
}

.logo {
  z-index: 2;
  margin-left: 20px;
  color: #FFF;
  margin: 0;
  margin-left: 70px;
}

.nav-list {
  margin-top: 150px;
}

.nav.is-open {
  width: 70vw;
  height: 420px;
  top: -80px;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  background-color: #f4eeff;
  box-shadow: 0 6px 20px rgba(96, 109, 175, 0.2);
}

.nav.is-open .nav-link {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.nav-link {
  color: #FFF;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
}

.nav-link-cta,
.nav-link:hover {
  color: var(--pink);
}

/* Grow */
.grow {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contentGrow {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.left {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  padding: 20px;
}

.right {
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Intro */
.intro {
  display: flex;
  margin-top: -80px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  background-image: url("/src/img/hero.jpg");
  align-items: center;
}

.intro__title {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 3.4rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1;
  color: var(--darkPurple);
}

.intro__verano {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 4.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.agenda {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.bajada{
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  color: var(--darkPurple);
}

.section__title {
  color: var(--darkPurple);
  font-weight: var(--bold);
  font-size: 1.85rem;
  line-height: 1.1;
}

.intro__subtitle {
  margin: 1.2rem 0;
  font-size: 0.9rem;
  color: var(--darkGrey);
}

.footer {
  display: flex;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  background-image: url("/src/img/midea_banner.jpg");
  align-items: center;
}

/* Whatsapp */

#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
}

svg {
  width: 80px;
  margin-right: 50px;
  margin-bottom: 40px;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.231));
}

circle {
  fill: #25d366;
}
path {
  fill: #fff;
}

@media screen and (max-width: 1800px) {

  .grow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {

  .grow {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #left {
    display: flex;
    flex-direction: column-reverse !important;
  }
}

